*.pyc
.DS_Store
.idea
.ipynb_checkpoints

observation.egg-info
operational-analysis.iml
operational_analysis.egg-info
*.p

.git
.cache
.eggs
docs

OpenOA.egg-info
build
dist
*.csv

.pytest_cache

.coverage
coverage.xml
junit-xml-report.xml

examples/operational_AEP_analysis/data/*.csv
examples/turbine_analysis/data/*.csv

sphinx/examplesout.ipynb

.devcontainer

.vscode/
.local

.ipython
