# Requirements for the OpenOA documentation
eia-python==1.22
numpy==1.16.1
geopandas==0.5.0
pandas==0.24.2
pygam==0.8.0
scipy==1.2.1
sphinx==1.5.6
sphinxcontrib-napoleon==0.6.1
sphinx_rtd_theme==0.2.4
statsmodels==0.9.0
tqdm==4.31.1
