name: PyPi Publisher

on:
    push:
        tags:
            - 'v*'

jobs:
    build-n-publish:
        name: Build and publish Python package to PyPi
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/checkout@main
            - name: Set up Python 3.8
              uses: actions/setup-python@v1
              with:
                python-version: 3.8
            - name: Build tarballs
              run: |
                pip install wheel
                python setup.py bdist_wheel
                python setup.py sdist --formats=gztar
            - name: Publish artifacts to PyPI
              uses: pypa/gh-action-pypi-publish@master
              with:
                password: ${{ secrets.PYPI_PASSWORD }}
                repository_url: https://upload.pypi.org/legacy/